In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\guilh\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\guilh\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\guilh\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\guilh\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\guilh\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\guilh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/guilh/Downloads/SuperMarket Analysis.csv")
print(df.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428   Alex     Yangon        Member  Female
1  226-31-3081   Giza  Naypyitaw        Normal  Female
2  631-41-3108   Alex     Yangon        Normal  Female
3  123-19-1176   Alex     Yangon        Member  Female
4  373-73-7910   Alex     Yangon        Member  Female

             Product line  Unit price  Quantity   Tax 5%     Sales       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

          Time      Payment    cogs  gross margin percentage  gross income  \
0   1:08:00 PM      Ewallet  522.83                 4.761905       26.1415
1  10:29:00 AM         Cash   76.40                 4.761905        3.8200
2   1:23:00 PM  Credit card  324.31                 4.761905       16.2155
3   8:33:00 PM      Ewallet  465.76                 4.761905       23.2880
4  10:37:00 AM      Ewallet  604.17                 4.761905       30.2085

   Rating
0     9.1
1     9.6
2     7.4
3     8.4
4     5.3

In [6]:
df = df[['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender', 
         'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Sales', 'Date']]

In [8]:
df.loc[:, 'Average Price'] = df['Sales'] / df['Quantity']

In [9]:
print(df.isnull().sum())

Invoice ID       0
Branch           0
City             0
Customer type    0
Gender           0
Product line     0
Unit price       0
Quantity         0
Tax 5%           0
Sales            0
Date             0
Average Price    0
dtype: int64

In [10]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Average Price
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,78.4245
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,16.0440
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,48.6465
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,61.1310
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,90.6255

In [11]:
import sqlite3
conn = sqlite3.connect("supermarket_sales.db")

In [12]:
df.to_sql("sales", conn, if_exists="replace", index=False)

1000

In [13]:
df_sql = pd.read_sql("SELECT * FROM sales LIMIT 5;", conn)
print(df_sql)

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428   Alex     Yangon        Member  Female
1  226-31-3081   Giza  Naypyitaw        Normal  Female
2  631-41-3108   Alex     Yangon        Normal  Female
3  123-19-1176   Alex     Yangon        Member  Female
4  373-73-7910   Alex     Yangon        Member  Female

             Product line  Unit price  Quantity   Tax 5%     Sales       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

   Average Price
0        78.4245
1        16.0440
2        48.6465
3        61.1310
4        90.6255

In [14]:
import os

print(os.path.abspath("supermarket_sales.db"))

C:\Users\guilh\supermarket_sales.db